# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
asl_env/
.env
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Large files / data
*.h5               # model files (add if large)
asl_dataset/       # your ASL dataset folder
*.zip
*.tar.gz

# Editor / IDE
.vscode/
*.code-workspace

webcam_training_data/
webcam_training_data_224/
webcam_training_data_224_v21000images/
*.zip